<center>
<form action="0" method="post">
    <p>Предлагаем посоревноваться с искусственным интеллектом в определении признаков туберкулеза легких на рентгенограммах грудной клетки. Подробнее о том, зачем и как, можно прочитать в статье.</p>
    <p>Чтобы сохранить результат, введите любую последовательность символов. Если Вы не против получать новости о новых сервисах, введите в поле адрес своей электронной почты.</p>
    <label for="email">Ваш email:</label> <input name="email" type="text" value="test@test.com" /><button>Вперед</button>
</form>    
</center>
